.resume-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  .resume-form input,
  .resume-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  